.timerclass {
    font-size: 40px;
    position: fixed;
    color: white;
    text-align: center; /* Zentrieren des Textes */
    line-height: 100px; /* Vertikale Ausrichtung des Textes */
  }

 .timer-container {
    position: fixed;
    top: 25vh;
    left: 90vw;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #20b494;
    border: 2px solid #20b494;
    border-radius: 50%;
    box-shadow: 
    inset 0 0 0 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.img1 {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10 {
      max-width: 100%;
    }
  }
  
  @media (max-width: 1000px) {
    .img1 {
      max-width: 100%;
    }
  }